<app-navbar-authenticate></app-navbar-authenticate>

<div class="gastos-contenedor">
  <div class="gastos-contenido">
        <h1>Actualizar Gasto</h1>
        <form (ngSubmit)="actualizargasto()">
        <div class="input-group">
            <label class="lbl">Nombre Gasto</label>
            <input class="caja" [(ngModel)]="nombreGasto" name="numeroGasto" type="text" required />
        </div>
        <div class="input-group">
            <label class="lbl">Valor Pago</label>
            <input class="caja" [(ngModel)]="valorPago" name="valorPago" type="text" required />
        </div>
        <div class="input-group">
            <label class="lbl">Valor Final</label>
            <input class="caja" [(ngModel)]="valorFinal" name="valorFinal" type="text" required />
        </div>
        </form>
        <div class="button-group">
        <button type="submit" id="actualizar" class="submit-button" (click)="actualizargasto()">Actualizar</button>
    </div>
    </div>
</div>