<app-navbar-authenticate></app-navbar-authenticate>

<div class="tarjeta-contenedor">
  <div class="tarjeta-contenido">
        <h1>Actualizar Tarjeta</h1>
        <form (ngSubmit)="actualizarTarjeta()" class="tarjeta-form">
        <div class="input-group">
            <label  class="lbl">Número</label>
            <input class="caja" [(ngModel)]="numero" name="numero" type="text" required />
        </div>
        <div class="input-group">
            <label  class="lbl">Código</label>
            <input class="caja" [(ngModel)]="codigo" name="codigo" type="text" required />
        </div>
        <div class="input-group">
            <label  class="lbl">Fecha Expira</label>
            <input class="caja" [(ngModel)]="fechaExpira" name="fechaExpira" type="date" required />
        </div>
        <div class="input-group">
            <label  class="lbl">Cupo Total</label>
            <input class="caja" [(ngModel)]="cupoTotal" name="cupoTotal" type="number" required />
        </div>
        <div class="input-group">
            <label  class="lbl">Cupo Disponible</label>
            <input class="caja" [(ngModel)]="cupoDisponible" name="cupoDisponible" type="number" required />
        </div>
        <div class="input-group">
            <label  class="lbl">Deuda</label>
            <input class="caja" [(ngModel)]="deuda" name="deuda" type="number" required />
        </div>
        <div class="input-group">
            <label  class="lbl">Saldo Debito</label>
            <input class="caja" [(ngModel)]="saldoDebito" name="saldoDebito" type="number" required />
        </div>
        <div class="input-group">
            <label  class="lbl">tipo</label>
            <input class="caja" [(ngModel)]="tipo" name="tipo" type="text" required />
        </div>
        <div class="input-group">
            <label  class="lbl">Fecha Pagos</label>
            <input class="caja" [(ngModel)]="fechaPagos" name="fechaPagos" type="date" required />
        </div>
        <div class="input-group">
            <label  class="lbl">Fecha Compra</label>
            <input class="caja" [(ngModel)]="fechaCompra" name="fechaCompra" type="date" required />
        </div>
        <div class="input-group">
            <label  class="lbl">Estado</label>
            <select class="caja" [(ngModel)]="estado" name="esatado" required>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
        </div>
        </form>
        <div class="button-group">
        <button type="submit" id="actualizar" class="submit-button" (click)="actualizarTarjeta()">Actualizar</button>
    </div>
    </div>
</div>