<app-navbar-authenticate></app-navbar-authenticate>

<div class="credito-contenedor">
  <div class="credito-contenido">
        <h1>Agregar Crédito</h1>
        <form (ngSubmit)="crearcredito()">
        <div class="input-group">
            <label class="lbl">Número</label>
            <input class="caja" [(ngModel)]="numero" name="numero" type="text" required />
        </div>
        <div class="input-group">
            <label class="lbl">Nombre</label>
            <input class="caja" [(ngModel)]="nombre" name="nombre" type="text" required />
        </div>
        <div class="input-group">
            <label class="lbl">Fecha Expira</label>
            <input class="caja" [(ngModel)]="fechaExpira" name="fechaExpira" type="date" required />
        </div>
        <div class="input-group">
            <label class="lbl">Cantidad Cuotas</label>
            <input class="caja" [(ngModel)]="cantidadCuotas" name="cantidadCuotas" type="number" required />
        </div>
        <div class="input-group">
            <label class="lbl">Monto Final</label>
            <input class="caja" [(ngModel)]="montoFinal" name="montoFinal" type="number" required />
        </div>
        <div class="input-group">
            <label class="lbl">Interes Mensual</label>
            <input class="caja" [(ngModel)]="interesMensual" name="interesMensual" type="number" required />
        </div>
        <div class="input-group">
            <label class="lbl">Interes Total</label>
            <input class="caja" [(ngModel)]="interesTotal" name="interesTotal" type="number" required />
        </div>
        <div class="input-group">
            <label class="lbl">Debito Mensual</label>
            <input class="caja" [(ngModel)]="debitoMensual" name="debitoMensual" type="number" required />
        </div>
        <div class="input-group">
            <label class="lbl">tipo</label>
            <input class="caja" [(ngModel)]="tipo" name="tipo" type="text" required />
        </div>
    </form>
    <div class="button-group">
        <button type="submit" id="agregar" class="submit-button" (click)="crearcredito()">Agregar</button>
    </div>
    </div>
</div>