<app-navbar-authenticate></app-navbar-authenticate>


<div class="creditos-container">
  <h2>Gestión de creditos</h2>

  <!-- Boton pra agregar un nuevo credito -->
  <button (click)="FomularioCrear()" class="add-button">
    <fa-icon [icon]="faPlus"></fa-icon>Agregar credito
  </button>

<div class="tabla">
  <table class="creditos-table">
    <thead class="creditos-table-header">
      <tr>
        <th class="columnas primero">ID</th>
        <th class="columnas">Número</th>
        <th class="columnas">Nombre</th>
        <th class="columnas">Fecha Expira</th>
        <th class="columnas">Cantidad Cuotas</th>
        <th class="columnas">Monto Final</th>
        <th class="columnas">Interes Mensual</th>
        <th class="columnas">Interes Total</th>
        <th class="columnas">Debito Mensual</th>
        <th class="columnas">Tipo</th>
        <th class="columnas ultimo">Acciones</th>
      </tr>
    </thead>
    <tbody  class="creditos-table-body">
      <tr *ngFor="let credito of creditos">
        <td class="valores primerov">{{ credito.id }}</td>
        <td class="valores">{{ credito.numero }}</td>
        <td class="valores">{{ credito.nombre }}</td>
        <td class="valores">{{ credito.fechaExpira | date }}</td>
        <td class="valores">{{ credito.cantidadCuotas }}</td>
        <td class="valores">{{ credito.montoFinal | currency: 'COP' }}</td>
        <td class="valores">{{ credito.interesMensual | currency: 'COP' }}</td>
        <td class="valores">{{ credito.interesTotal | currency: 'COP' }}</td>
        <td class="valores">{{ credito.debitoMensual | currency: 'COP' }}</td>
        <td class="valores">{{ credito.tipo }}</td>
        <td class="valores botones-acciones ultimov">
          <!-- boton para actualizar -->
          <button (click)="FormularioEditar(credito.id)" class="action-button edit-button">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>

          <!-- Botón para eliminar -->
          <button (click)="eliminarcredito(credito.id)" class="action-button remove-button">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
