<app-navbar-authenticate></app-navbar-authenticate>

<div class="tarjetas-container">
  <h2>Gestión de tarjetas</h2>

  <!-- Boton pra agregar un nuevo tarjeta -->
  <button (click)="FomularioCrear()" class="add-button">
    <fa-icon [icon]="faPlus"></fa-icon>Agregar tarjeta
  </button>

  <div class="tabla">
    <table class="tarjetas-table">
      <thead class="tarjetas-table-header">
        <tr>
          <th class="columnas primero">ID</th>
          <th class="columnas">Número</th>
          <th class="columnas">Código</th>
          <th class="columnas">Fecha Expira</th>
          <th class="columnas">Cupo Total</th>
          <th class="columnas">Cupo Disponible</th>
          <th class="columnas">Deuda</th>
          <th class="columnas">Saldo Debito</th>
          <th class="columnas">Tipo</th>
          <th class="columnas">Fecha Pagos</th>
          <th class="columnas">Fecha Compra</th>
          <th class="columnas">Estado</th>
          <th class="columnas ultimo">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarjeta of tarjetas">
          <td class="valores primerov">{{ tarjeta.id }}</td>
          <td class="valores">{{ tarjeta.numero }}</td>
          <td class="valores">{{ tarjeta.codigo }}</td>
          <td class="valores">{{ tarjeta.fechaExpira | date }}</td>
          <td class="valores">{{ tarjeta.cupoTotal | currency : "COP" }}</td>
          <td class="valores">
            {{ tarjeta.cupoDisponible | currency : "COP" }}
          </td>
          <td class="valores">{{ tarjeta.deuda | currency : "COP" }}</td>
          <td class="valores">{{ tarjeta.saldoDebito | currency : "COP" }}</td>
          <td class="valores">{{ tarjeta.tipo }}</td>
          <td class="valores">{{ tarjeta.fechaPagos | date }}</td>
          <td class="valores">{{ tarjeta.fechaCompra | date }}</td>
          <td class="valores">{{ tarjeta.estado }}</td>
          <td class="valores botones-acciones ultimov">
            <!-- boton para actualizar -->
            <button
              (click)="FormularioEditar(tarjeta.id)"
              class="action-button edit-button"
            >
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>

            <!-- Botón para eliminar -->
            <button
              (click)="eliminartarjeta(tarjeta.id)"
              class="action-button remove-button"
            >
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
