<app-navbar-authenticate></app-navbar-authenticate>

<div class="tarjetas-container">
  <h2>Gestión de tarjetas</h2>

  <!-- Boton pra agregar un nuevo tarjeta -->
  <button (click)="FomularioCrear()" class="add-button">
    <fa-icon [icon]="faPlus"></fa-icon>Agregar tarjeta
  </button>

  <!-- Aquí iría el contenido específico para tarjetas, como tablas, formularios, etc. -->
  <table class="tarjetas-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Número</th>
        <th>Código</th>
        <th>Fecha Expira</th>
        <th>Cupo Total</th>
        <th>Cupo Disponible</th>
        <th>Deuda</th>
        <th>Saldo Debito</th>
        <th>Tipo</th>
        <th>Fecha Pagos</th>
        <th>Fecha Compra</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarjeta of tarjetas">
        <td>{{ tarjeta.id }}</td>
        <td>{{ tarjeta.numero }}</td>
        <td>{{ tarjeta.codigo }}</td>
        <td>{{ tarjeta.fechaExpira | date }}</td>
        <td>{{ tarjeta.cupoTotal }}</td>
        <td>{{ tarjeta.cupoDisponible }}</td>
        <td>{{ tarjeta.deuda }}</td>
        <td>{{ tarjeta.saldoDebito }}</td>
        <td>{{ tarjeta.tipo }}</td>
        <td>{{ tarjeta.fechaPagos | date }}</td>
        <td>{{ tarjeta.fechaCompra | date }}</td>
        <td>{{ tarjeta.estado }}</td>
        <td>
          <!-- boton para actualizar -->
          <button (click)="FormularioEditar(tarjeta.id)" class="action-button">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>

          <!-- Botón para eliminar -->
          <button (click)="eliminartarjeta(tarjeta.id)" class="action-button">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
