<app-navbar></app-navbar>

<body>
  <div class="login-container">
    <form (ngSubmit)="login()">
      <h1 class="title">Iniciar Sesión</h1>

        <label class="tituloInput">Nombre de Usuario</label>
        <input class="caja" [(ngModel)]="nombreUsuario" name="nombreUsuario" type="text" required placeholder="Nombre de Usuario" />

        <label class="tituloInput">Contraseña</label>
        <input class="caja" [(ngModel)]="clave" name="clave" type="password" required placeholder="Contraseña" />

        <button type="submit" class="boton">Entrar</button>
    </form>
    <div class="details">
      <a class="noCuenta" routerLink="/auth/register">¿No tienes cuenta?</a>
      <a class="recuperar" routerLink="/auth/recuperarUsuario">¿Olvidaste tu Usuario?</a>
      <a class="recuperar" routerLink="/auth/reestablecerClave">¿Olvidaste tu Contraseña?</a>
    </div>
  </div>
</body>
