<p>usuarios-list works!</p>
<app-navbar></app-navbar> <!-- Incluye el navbar -->
<div class="usuarios-container">
  <h2>Gestión de Usuarios</h2>
  
  <!-- Boton pra agregar un nuevo usuario -->
  <button (click)="FomularioCrear()" class="add-button">
    <fa-icon [icon]="faPlus"></fa-icon>Agregar Usuario
  </button>
  
  <!-- Aquí iría el contenido específico para usuarios, como tablas, formularios, etc. -->
  <table class="usuarios-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Primer Nombre</th>
        <th>Segundo Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>Nombre Usuario</th>
        <th>Correo</th>
        <th>Dirección</th>
        <th>Celular</th>
        <th>Estado</th>
        <th>Genero</th>
        <th>Fecha Registro</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.primerNombre }}</td>
        <td>{{ usuario.segundoNombre }}</td>
        <td>{{ usuario.primerApellido }}</td>
        <td>{{ usuario.segundoApellido }}</td>
        <td>{{ usuario.nombreUsuario }}</td>
        <td>{{ usuario.correo }}</td>
        <td>{{ usuario.direccion }}</td>
        <td>{{ usuario.celular }}</td>
        <td>{{ usuario.genero }}</td>
        <td>{{ usuario.fechaCreacion }}</td>
        <td>{{ usuario.rolId }}</td>
        <td>{{ usuario.estado }}</td>
        <td>
          <!-- boton para actualizar -->
          <button (click)="FormularioEditar(usuario.id)" class="action-button">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>

          <!-- Botón para eliminar -->
          <button (click)="eliminarUsuario(usuario.id)" class="action-button">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
