<app-navbar-authenticate></app-navbar-authenticate>

<!-- <app-navbar></app-navbar> Incluye el navbar -->
<div class="usuarios-container">
  <h2>Gestión de Usuarios</h2>
  
  <!-- Boton pra agregar un nuevo usuario -->
  <button (click)="FomularioCrear()" class="add-button">
    <fa-icon [icon]="faPlus"></fa-icon>Agregar Usuario
  </button>
  
  <div class="tabla">
    <table class="usuarios-table">
      <thead class="usuarios-table-header">
        <tr>
          <th class="coloumnas primero">ID</th>
          <th class="coloumnas">Primer Nombre</th>
          <th class="coloumnas">Segundo Nombre</th>
          <th class="coloumnas">Primer Apellido</th>
          <th class="coloumnas">Segundo Apellido</th>
          <th class="coloumnas">Nombre Usuario</th>
          <th class="coloumnas">Correo</th>
          <th class="coloumnas">Dirección</th>
          <th class="coloumnas">Celular</th>
          <th class="coloumnas">Estado</th>
          <th class="coloumnas">Genero</th>
          <th class="coloumnas">Fecha Registro</th>
          <th class="coloumnas">Rol</th>
          <th class="coloumnas ultimo">Acciones</th>
        </tr>
      </thead>
      <tbody class="usuarios-table-body">
        <tr *ngFor="let usuario of usuarios">
          <td class="valores primerov">{{ usuario.id }}</td>
          <td class="valores">{{ usuario.primerNombre }}</td>
          <td class="valores">{{ usuario.segundoNombre }}</td>
          <td class="valores">{{ usuario.primerApellido }}</td>
          <td class="valores">{{ usuario.segundoApellido }}</td>
          <td class="valores">{{ usuario.nombreUsuario }}</td>
          <td class="valores">{{ usuario.correo }}</td>
          <td class="valores">{{ usuario.direccion }}</td>
          <td class="valores">{{ usuario.celular }}</td>
          <td class="valores">
            <span class="estado {{ usuario.estado ? 'estado-true' : 'estado-false' }}">
              {{ usuario.estado }}
            </span>
          </td>
          
          <td class="valores">
            <span class="genero {{ usuario.genero == 'masculino' ? 'masculino' : 'femenino' }}"> {{ usuario.genero }} </span>
          </td>
          <td class="valores">{{ usuario.createdAt }}</td>
          <td class="valores ">
            <span class="rol {{ usuario.rol.nombreRol == 'Administrador' ? 'Administrador' : 'otro' }}">
              {{ usuario.rol.nombreRol }}
            </span>
          </td>
          <td class="valores botones-acciones ultimov">
            <!-- boton para actualizar -->
            <button (click)="FormularioEditar(usuario.id)" class="action-button edit-button">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>

            <!-- Botón para eliminar -->
            <button (click)="eliminarUsuario(usuario.id)" class="action-button remove-button">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
