<app-navbar-authenticate></app-navbar-authenticate>

<div class="gastos-container">
  <h2>Gestión de gastos</h2>

  <!-- Boton pra agregar un nuevo gasto -->
  <button (click)="FomularioCrear()" class="add-button">
    <fa-icon [icon]="faPlus"></fa-icon>Agregar gasto
  </button>

<div class="tabla">
  <table class="gastos-table">
    <thead class="gastos-table-header">
      <tr>
        <th class="columnas primero">ID</th>
        <th class="columnas">Nombre Gasto</th>
        <th class="columnas">Valor Pago</th>
        <th class="columnas">Valor Final</th>
        <th class="columnas ultimo">Acciones</th>
      </tr>
    </thead>
    <tbody class="gastos-table-body">
      <tr *ngFor="let gasto of gastos">
        <td class="valores primerov">{{ gasto.id }}</td>
        <td class="valores">{{ gasto.nombreGasto }}</td>
        <td class="valores">{{ gasto.valorPago | currency: 'COP' }}</td>
        <td class="valores">{{ gasto.valorFinal | currency: 'COP' }}</td>
        <td class="valores botones-acciones ultimov">
          <!-- boton para actualizar -->
          <button (click)="FormularioEditar(gasto.id)" class="action-button edit-button">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>

          <!-- Botón para eliminar -->
          <button (click)="eliminargasto(gasto.id)" class="action-button remove-button">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
