<app-navbar-authenticate></app-navbar-authenticate>

<div class="perfil-contenedor">
    <div class="perfil-contenido">
        <h1>Perfil</h1>
        <form (ngSubmit)="actualizarUsuario()" class="usuario-form">
            <div class="input-group">
                <label class="lbl">Primer Nombre </label>
                <input class="caja" [(ngModel)]="primerNombre" name="primerNombre" type="text" disabled />
            </div>
            <div class="input-group">
                <label class="lbl">Segundo Nombre </label>
                <input class="caja" [(ngModel)]="segundoNombre" name="segundoNombre" type="text" disabled />
            </div>
            <div class="input-group">
                <label class="lbl">Primer Apellido </label>
                <input class="caja" [(ngModel)]="primerApellido" name="primerApellido" type="text" disabled />
            </div>
            <div class="input-group">
                <label class="lbl">Segundo Apellido </label>
                <input class="caja" [(ngModel)]="segundoApellido" name="segundoApellido" type="text" disabled />
            </div>
            <div class="input-group">
                <label class="lbl">Nombre de Usuario </label>
                <input class="caja" [(ngModel)]="nombreUsuario" name="nombreUsuario" type="text" disabled />
            </div>
            <div class="input-group">
                <label class="lbl">Correo </label>
                <input class="caja" [(ngModel)]="correo" name="correo" type="email" disabled />
            </div>
            <div class="input-group">
                <label class="lbl">Dirección </label>
                <input class="caja" [(ngModel)]="direccion" name="direccion" type="text" disabled />
            </div>
            <div class="input-group">
                <label class="lbl">Celular </label>
                <input class="caja" [(ngModel)]="celular" name="celular" type="text" disabled />
            </div>
            <div class="input-group">
                <label class="lbl">Genero </label>
                <input class="caja" [(ngModel)]="genero" name="genero" type="text" disabled />
            </div>
            <div class="input-group">
                <label class="lbl">Rol </label>
                <input class="caja" [(ngModel)]="rol" name="rol" type="text" disabled />
            </div>
        </form>
        <div class="button-group">
            <button type="submit" id="actualizar" class="submit-button" (click)="actualizarUsuario()" [disabled]="true">Actualizar</button>
        </div>
        <button type="submit" id="editar" class="edit-button" (click)="editar()" >editar</button>
        <button type="submit" id="cancel" (click)="cancelarEdit()"  class="cancel-button" hidden >Cancelar</button>
    </div>
</div>
