<app-navbar-authenticate></app-navbar-authenticate>

<div class="ahorro-contenedor">
  <div class="ahorro-contenido">
    <h1>Agregar Ahorro</h1>
    <form (ngSubmit)="crearahorro()">
      <div class="input-group">
        <label class="lbl">Nombre</label>
        <input
          class="caja"
          [(ngModel)]="nombre"
          name="nombre"
          type="text"
          required
        />
      </div>
      <div class="input-group">
        <label class="lbl">Fecha Meta</label>
        <input
          class="caja"
          [(ngModel)]="fechaMeta"
          name="fechaMeta"
          type="date"
          required
        />
      </div>
      <div class="input-group">
        <label class="lbl">Cantidad Cuotas</label>
        <input
          class="caja"
          [(ngModel)]="cantidadCuotas"
          name="cantidadCuotas"
          type="number"
          required
        />
      </div>
      <div class="input-group">
        <label class="lbl">Monto Meta</label>
        <input
          class="caja"
          [(ngModel)]="montoMeta"
          name="montoMeta"
          type="number"
          required
        />
      </div>
      <div class="input-group">
        <label class="" lbl>Ahorro Mensual</label>
        <input
          class="caja"
          [(ngModel)]="ahorroMensual"
          name="ahorroMensual"
          type="number"
          required
        />
      </div>
      <div class="input-group">
        <label class="lbl">tipo</label>
        <input class="caja" [(ngModel)]="tipo" name="tipo" type="text" required />
      </div>
    </form>
    <div class="button-group">
      <button
        type="submit"
        id="actualizar"
        class="submit-button"
        (click)="crearahorro()"
      >
        Agregar
      </button>
    </div>
  </div>
</div>
