<app-navbar></app-navbar>

<div class="login-container">
    <form (ngSubmit)="register()" class="formulario">
        <h1 class="title">Registro</h1>

        <div class="form-grid">
            <div>
                <label class="tituloInput">Primer Nombre</label>
                <input class="caja" [(ngModel)]="primerNombre" name="primerNombre" type="text" required placeholder="Primer Nombre"/>

                <label class="tituloInput">Segundo Nombre</label>
                <input class="caja" [(ngModel)]="segundoNombre" name="segundoNombre" type="text" required placeholder="Segundo Nombre"/>

                <label class="tituloInput">Primer Apellido</label>
                <input class="caja" [(ngModel)]="primerApellido" name="primerApellido" type="text" required placeholder="Primer Apellido"/>

                <label class="tituloInput">Segundo Apellido</label>
                <input class="caja" [(ngModel)]="segundoApellido" name="segundoApellido" type="text" required placeholder="Segundo Apellido"/>

                <label class="tituloInput">Nombre de Usuario</label>
                <input class="caja" [(ngModel)]="nombreUsuario" name="nombreUsuario" type="text" required placeholder="Nombre Usuario"/>
            </div>

            <div>
                <label class="tituloInput">Correo</label>
                <input class="caja" [(ngModel)]="correo" name="correo" type="email" required placeholder="Correo"/>

                <label class="tituloInput">Contraseña</label>
                <input class="caja" [(ngModel)]="clave" name="clave" type="password" required placeholder="Clave"/>

                <label class="tituloInput">Dirección</label>
                <input class="caja" [(ngModel)]="direccion" name="direccion" type="text" required placeholder="Dirección"/>

                <label class="tituloInput">Celular</label>
                <input class="caja" [(ngModel)]="celular" name="celular" type="text" required placeholder="Celular"/>

                <label class="tituloInput">Género</label>
                <select class="caja" [(ngModel)]="genero" name="genero" required>
                    <option value="Masculino" selected>Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
        </div>

        <button type="submit" class="boton">Registrarse</button>
    </form>
</div>
