<nav class="navbar">
    <div class="navbar-brand">
        <a routerLink="/">Bancaría</a>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item" *ngIf="esAdmin()">
            <a routerLink="/usuarios" class="nav-link">Usuarios</a>
        </li>
        <li class="nav-item" *ngIf="esAdmin()">
            <a routerLink="/roles" class="nav-link">Roles</a>
        </li>
        <li class="nav-item">
            <a routerLink="/ahorros" class="nav-link">Ahorros</a>
        </li>
        <li class="nav-item">
            <a routerLink="/ingresos" class="nav-link">Ingresos</a>
        </li>
        <li class="nav-item">
            <a routerLink="/gastos" class="nav-link">Gastos</a>
        </li>
        <li class="nav-item">
            <a routerLink="/creditos" class="nav-link">Créditos</a>
        </li>
        <li class="nav-item">
            <a routerLink="/tarjetas" class="nav-link">Tarjetas</a>
        </li>
        <li class="nav-item">
            <a routerLink="/#" class="nav-link">MiCuenta</a>
        </li>
    </ul>
</nav>