<app-navbar-authenticate></app-navbar-authenticate>

<div class="rol-contenedor">
  <div class="rol-contenido">
        <h2>Actualizar Rol</h2>
        <form (ngSubmit)="actualizarRol()" class="ROL-form">
        <div class="input-group">
            <label class="lbl">Nombre Rol</label>
            <input class="caja" [(ngModel)]="nombreRol" name="nombreRol" type="text" required />
        </div>
        <div class="input-group">
            <label class="lbl">Descripción</label>
            <input class="caja" [(ngModel)]="descripcion" name="descripcion" type="text" required />
        </div>
        <div class="input-group">
            <label class="lbl">Estado</label>
            <select class="caja" [(ngModel)]="estado" name="esatado" required>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
        </div>
    </form>
    <div class="button-group">
        <button type="submit" id="actualizar" class="submit-button" (click)="actualizarRol()">Agregar</button>
    </div>
    </div>
</div>