<app-navbar-authenticate></app-navbar-authenticate>

<div class="ahorros-container">
  <h2>Gestión de ahorros</h2>

  <!-- Boton pra agregar un nuevo ahorro -->
  <button (click)="FomularioCrear()" class="add-button">
    <fa-icon [icon]="faPlus"></fa-icon>Agregar ahorro
  </button>

<div class="tabla">
  <table class="ahorros-table">
    <thead class="ahorros-table-header">
      <tr>
        <th class="columnas primero">ID</th>
        <th class="columnas">Nombre</th>
        <th class="columnas">Fecha Meta</th>
        <th class="columnas">Cantidad Cuotas</th>
        <th class="columnas">Monto Meta</th>
        <th class="columnas">Ahorro Mensual</th>
        <th class="columnas">Tipo</th>
        <th class="columnas ultimo">Acciones</th>
      </tr>
    </thead>
    <tbody  class="ahorros-table-body">
      <tr *ngFor="let ahorro of ahorros">
        <td class="valores primerov">{{ ahorro.id }}</td>
        <td class="valores">{{ ahorro.nombre }}</td>
        <td class="valores">{{ ahorro.fechaMeta | date: 'dd/MM/yyyy' }}</td>
        <td class="valores">{{ ahorro.cantidadCuotas }}</td>
        <td class="valores">{{ ahorro.montoMeta | currency: 'COP' }}</td>
        <td class="valores">{{ ahorro.ahorroMensual | currency: 'COP' }}</td>
        <td class="valores">{{ ahorro.tipo }}</td>
        <td class="valores botones-acciones ultimov">
          <!-- boton para actualizar -->
          <button (click)="FormularioEditar(ahorro.id)" class="action-button edit-button">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>

          <!-- Botón para eliminar -->
          <button (click)="eliminarahorro(ahorro.id)" class="action-button remove-button">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
