<app-navbar-authenticate></app-navbar-authenticate>

<div class="register-container">
    <div class="register-box">
        <h2>Registro</h2>
        <form (ngSubmit)="actualizaringreso()">
        <div class="input-group">
            <input [(ngModel)]="numeroIngreso" name="numeroIngreso" type="text" required />
            <label>Número Ingreso</label>
        </div>
        <div class="input-group">
            <input [(ngModel)]="valorPago" name="valorPago" type="text" required />
            <label>Valor Pago</label>
        </div>
        <div class="input-group">
            <input [(ngModel)]="valorFinal" name="valorFinal" type="text" required />
            <label>Valor Final</label>
        </div>
        <button type="submit" class="register-button">Agregar</button>
        </form>
    </div>
</div>