<app-navbar-authenticate></app-navbar-authenticate>

<div class="ingreso-contenedor">
    <div class="ingreso-contenido">
        <h2>Actualizar Ingreso</h2>
        <form (ngSubmit)="actualizaringreso()">
        <div class="input-group">
            <label class="lbl">Nombre Ingreso</label>
            <input class="caja" [(ngModel)]="nombreIngreso" name="nombreIngreso" type="text" required />
        </div>
        <div class="input-group">
            <label class="lbl">Valor Ingreso</label>
            <input class="caja" [(ngModel)]="valorIngreso" name="valorIngreso" type="text" required />
        </div>
        <div class="input-group">
            <label class="lbl">Valor Final</label>
            <input class="caja" [(ngModel)]="valorFinal" name="valorFinal" type="text" required />
        </div>
    </form>
    <div class="button-group">
        <button type="submit" id="agregar" class="submit-button" (click)="actualizaringreso()">Agregar</button>
    </div>
    </div>
</div>